{% extends 'gallery/base.html' %}

{% block title %}
  <title>About</title>
{% endblock %}

{% block content %}
  <div class="container" style="max-width: 1150px;">
    <div class="row pt-5">
      <div class="col-12">
        <h2 class="border-bottom mb-4 pb-2"><a class="text-decoration-none" href="#">About</a></h2>
        <h4 class="pt-4">Purpose</h4>
        <p>The purpose of the website is to provide a convenient gallery for finding portraits specific to characters in the Infinity Engine games.</p>
        <h4 class="pt-4">Layout</h4>
        <p>In the Games page, you can find the different IE games and their different editions. Currently mod setups like BGTutu, BGT or EET are not included, as they retain the content of the games they modify. Different games and editions sometimes have different versions of the same character. For example Imoen the Thief in BG/BG:EE and Imoen the Thief/Mage in BG2/BG2:EE/BG:SoD. These versions are referred to as NPCs. On the individual game pages you can see a card with the NPC portrait and some information about them. They are sorted by being part of the original editions, being adde by Beamdog, and being added or made playable by modders.</p>
        <p>In the Characters section you can see a list of the characters that appear in any of the games. Some of the characters are from the original games, others are added in the enhanced editions, and some are brand new from mods. Details about the different versions that appeart in various games can be seen in the individual page of a character. This is also where the portrait gallery for the character is.</p>
        <p>The Links page has links to websites dedicated to the Infinity Engine games, including modding websites, forums, guides and galleries.</p>
        <h4 class="pt-4">Content</h4>
        <p>Currently the site has the original portraits from the games, art linked to mods and fanart.</p>
      </div>
    </div>
  </div>
{% endblock %}
