{% extends 'gallery/base.html' %}

{% block title %}
  <title>{{ character.name }}</title>
{% endblock %}

{% block content %}
  <div class="container" style="max-width: 1150px;">
    <div class="row pt-5">
      <div class="col-12">
        <h2 class="border-bottom mb-4 pb-2"><a class="text-decoration-none" href="{% url 'character_list' %}">{{ character.name }}</a></h2>
        <div class="row">
          <div class="col-4">
            <p>{{ character.description }}</p>
            <br />
            <p>Character origin - {{ character.get_origin_display }}.</p>
          </div>
          <div class="col-8">
            <div class="card">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" id="npc-in-game-list" role="tablist">
                  {% if npcs %}
                    {% for npc in npcs %}
                      <li class="nav-item">
                        {% comment %}if unignored django-formatter addon deletes "active" in forloop.first{% endcomment %}
                        {# prettier-ignore #}
                        <a class="nav-link {% if forloop.first %}active{% endif %}" href="#npc-v{{ forloop.counter }}" role="tab">
                        {% for game in npc.game.all %}
                          {{ game.short_name}}{% if not forloop.last %} - {% endif %}
                        {% endfor %}
                        </a>
                      </li>
                    {% endfor %}
                  {% else %}
                    <li class="nav-item">
                      <a class="nav-link active" href="#npc-v1" role="tab">No NPCs for this Character.</a>
                    </li>
                  {% endif %}
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content mt-3">
                  {% for npc in npcs %}
                    {% comment %}if unignored django-formatter addon deletes "active" in forloop.first{% endcomment %}
                    {# prettier-ignore #}
                    <div class="tab-pane {% if forloop.first %}active{% endif %}" id="npc-v{{ forloop.counter }}" role="tabpanel">

                      {% comment %}Table with stats{% endcomment %}
                      <div class="row">

                        <div class="col-3">
                          <img src="{{ npc.web_image.url }}" alt="Portrait of {{ npc.name }}" />
                        </div>

                        <div class="col-4">
                          <table class="table table-sm  table-borderless">
                            <tbody>
                              <tr>
                                <th scope="col" class="text-muted">Class</th>
                              </tr>
                              <tr>
                                <td>&nbsp;&nbsp;&nbsp;- {{ npc.adnd_class }}</td>
                              </tr>
                              <tr>
                                <th scope="col" class="text-muted">Alignment</th>
                              </tr>
                              <tr>
                                <td>&nbsp;&nbsp;&nbsp;- {{ npc.get_alignment_display }}</td>
                              </tr>
                              <tr>
                                <th scope="col" class="text-muted">Race</th>
                              </tr>
                              <tr>
                                <td>&nbsp;&nbsp;&nbsp;- {{ npc.race }}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                    
                        <div class="col-5">
                          <table class="table table-sm table-borderless">
                            <tbody>
                              <tr>
                                <th scope="row" class="col-6 text-muted">Strength</th>
                                <td>{{ npc.str }}{% if npc.str_percentile %}/{{ npc.str_percentile }}{% endif %}</td> 
                              </tr>
                              <tr>
                                <th scope="row" class="text-muted">Dexterity</th>
                                <td>{{ npc.dex }}</td>
                              </tr>
                              <tr>
                                <th scope="row" class="text-muted">Constitution</th>
                                <td>{{ npc.con }}</td>
                              </tr>
                              <tr>
                                <th scope="row" class="text-muted">Intelligence</th>
                                <td>{{ npc.int }}</td>
                              </tr>
                              <tr>
                                <th scope="row" class="text-muted">Wisdom</th>
                                <td>{{ npc.wis }}</td>
                              </tr>
                              <tr>
                                <th scope="row" class="text-muted">Charisma</th>
                                <td>{{ npc.cha }}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>

                      </div>
                      {% comment %} <a href="#" class="btn btn-secondary btn-sm">Button</a> {% endcomment %}

                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="portraitGrid" class="container mt-4 pb-5 shadow-sm bg-body-tertiary" style="max-width: 1150px;">
      <div class="row px-4 pt-5">
        <div class="col-12">
          <h4 class="border-bottom mb-4 pb-2">Portraits</h4>
        </div>
      </div>

      <div class="row justify-content-center">
        {% for pt in character.portrait_set.all %}
          <div class="col-auto mb-4">
            <div class="card h-100" style="width: 210px;">
              <a href="#"><img src="{{ pt.web_image.url }}" class="card-img-top" alt="A character portrait" /></a>
              <div class="card-body">
                <p class="card-text">{{ pt.get_origin_display }} - {{ pt.description }}</p>
              </div>
              <div class="card-footer">
                <small class="text-body-secondary"><a href="{{ pt.source }}">Source</a></small>
                {% if pt.zip_file %}
                  |
                  <small class="text-body-secondary"><a href="{{ pt.zip_file.url }}">Zip file</a></small>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <script>
    // Switch to selected tab
    document.addEventListener('DOMContentLoaded', function () {
      var tabs = document.querySelectorAll('#npc-in-game-list a')
      tabs.forEach(function (tab) {
        tab.addEventListener('click', function (e) {
          e.preventDefault()
          var id = this.getAttribute('href')
          // Remove active class from all tabs
          tabs.forEach(function (tab) {
            tab.classList.remove('active')
            document.querySelector(tab.getAttribute('href')).classList.remove('active')
          })
          // Add active class to clicked tab and corresponding tab pane
          this.classList.add('active')
          document.querySelector(id).classList.add('active')
        })
      })
    })
  </script>
{% endblock %}
