{% extends 'gallery/base.html' %}

{% block title %}
  <title>Games</title>
{% endblock %}

{% block content %}
  <div id="gameGrid" class="container mt-4 pb-5" style="max-width: 1150px;">
    {% comment %}Row with snort names for navigation.{% endcomment %}
    <ul class="nav justify-content-center">
      {% for game in game_list %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'game_detail' game.slug %}">{{ game.short_name }}</a>
        </li>
      {% endfor %}
    </ul>

    {% for game in game_list %}
      <div class="row pt-5">
        <div class="col-12">
          <h4 class="border-bottom mb-4 pb-2"><a class="text-decoration-none" href="{% url 'game_detail' game.slug %}">{{ game.name }}</a></h4>
        </div>
      </div>
      <div class="row">
        <div class="col-4" style="min-width: 350px;">
          <a href="{% url 'game_detail' game.slug %}">
          <img src="{{ game.title_screen.url }}" class="border border-3 mb-3" alt="Game title screen for {{ game.name }}" />
          </a>
        </div>
        <div class="col-8" style="min-width: 25rem;">
          <table class="table table-sm">
            <tbody>
              <tr>
                <th class="col-3 text-muted" scope="row">Developer</th>
                <td class="col-9">{{ game.developer }}</td>
              </tr>
              <tr>
                <th class="text-muted" scope="row">Release</th>
                <td>{{ game.release_year }}</td>
              </tr>
              <tr>
                <th class="border-bottom-0 text-muted" scope="row">NPCs (incl. mods)</th>
                <td class="border-bottom-0">
                  {% for npc in game.npc_set.all %}
                    {{ npc.name }}{% if not forloop.last %}, {% endif %}
                  {% endfor %}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
