{% extends 'gallery/base.html' %}

{% block title %}
  <title>Login</title>
{% endblock %}

{% block content %}
  <div class="container" style="max-width: 1150px;">
    <div class="row pt-5">
      <div class="col-12">
        <h2 class="border-bottom mb-4 pb-2"><a class="text-decoration-none" href="#">Login</a></h2>
      </div>
    </div>

    <div class="container mt-4 py-5 shadow-sm bg-body-tertiary">
      <div class="row justify-content-center">
        <div class="col-4">
          {% if user.is_authenticated %}
            <p class="text-center m-0 p-0">You are already logged in, {{ user.username }}!</p>
          {% else %}
            <form method="post" action="{% url 'gallery:login' %}">
              {% csrf_token %}
              <div class="mb-3">
                <label class="form-label">Username</label>
                <input type="text" class="form-control" name="username" placeholder="..." required />
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" placeholder="..." required />
              </div>
              <button type="submit" class="btn btn-secondary">Login</button>
            </form>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
