{% extends 'gallery/base.html' %}

{% load static %}

{% block title %}
  <title>Party management</title>
{% endblock %}

{% block content %}
  <div class="container" style="max-width: 1150px;">
    <div class="row pt-5">
      <div class="col-12">
        <h2 class="border-bottom mb-4 pb-2"><a class="text-decoration-none" href="#">Party management</a></h2>
        {% if not user.is_authenticated %}
          <p>
            <strong>You need to be logged in to manage a party.</strong>
          </p>
        {% endif %}
        <p>
          Manage a party of up to 6 PCs and NPCs. You can select NPCs from games pages to add to a list of up to 20 to select from. You can create up to ten PCs by pressing Add PC. Pressing 'Remove' on an NPC removes it from the selection table, pressing 'Del' on a PC permanently <strong>deletes</strong> the PC!
        </p>
      </div>
    </div>

    <div class="container mt-4 pb-5 shadow-sm bg-body-tertiary">
      {% comment %}Current party of six{% endcomment %}
      <div class="row pb-5 justify-content-center">
        {% for slot in slots %}
          <div class="col-auto">
            <div class="card h-100 text-body-primary mt-3" style="max-width: 10rem;">
              <div class="card-body pb-0">
                {% comment %}Portrait{% endcomment %}
                {% if slot.content_object.web_image.url %}
                  <img src="{{ slot.content_object.web_image.url }}" width="110" height="170" alt="Portrait of {{ slot.content_object.name }}" />
                {% else %}
                  <img src="{% static 'gallery/img/default_170.webp' %}" width="110" height="170" alt="Portrait placeholder image." />
                {% endif %}
                <p class="card-text mt-1 text-center" style="max-width: 110px;">{{ slot.content_object.name }}</p>
              </div>

              {% comment %}Footer{% endcomment %}
              <div class="card-footer text-center">
                {% comment %}NPC selector{% endcomment %}
                <div class="btn-group">
                  <button class="btn btn-sm px-1 py-0 btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">NPC</button>
                  <ul class="dropdown-menu">
                    {% for npc in npcs %}
                      <li>
                        <a class="dropdown-item" href="{% url 'party_slot_set_npc' forloop.parentloop.counter npc.id %}">{{ npc.name }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>

                {% comment %}PC selector{% endcomment %}
                <div class="btn-group">
                  <button class="btn btn-sm px-1 py-0 btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">PC</button>
                  <ul class="dropdown-menu">
                    {% for pc in pcs %}
                      <li>
                        <a class="dropdown-item" href="{% url 'party_slot_set_pc' forloop.parentloop.counter pc.id %}">{{ pc.name }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>

                <br />
                {% comment %}Party slot row 2 navigation{% endcomment %}
                {% if forloop.first %}
                  <a><button type="button" class="btn btn-sm px-1 py-0 btn-tertiary disabled border-0">&lt;</button></a>
                {% else %}
                  <a href="{% url 'party_slot_swap_left' forloop.counter %}"><button type="button" class="btn btn-sm px-1 py-0 btn-tertiary">&lt;</button></a>
                {% endif %}

                <a href="{% url 'party_slot_clear' forloop.counter %}"><button type="button" class="btn btn-sm px-1 py-0 btn-tertiary">Clear</button></a>

                {% if forloop.last %}
                  <a><button type="button" class="btn btn-sm px-1 py-0 btn-tertiary disabled border-0">&gt;</button></a>
                {% else %}
                  <a href="{% url 'party_slot_swap_right' forloop.counter %}"><button type="button" class="btn btn-sm px-1 py-0 btn-tertiary">&gt;</button></a>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      {% comment %}Party size selector{% endcomment %}
      <div class="row">
        <div class="col text-center">
          Party size:{% comment %}Without prettier-ignore django-templates extension converts "123456" to int{% endcomment %}
          {# prettier-ignore #}
          {% for slot_num in "123456" %}
            <a href="{% url 'party_set_size' slot_num %}"><button type="button" class="btn py-0 btn-outline-secondary">{{ slot_num }}</button></a>
          {% endfor %}
        </div>
      </div>

      {% comment %}Tables for NPC and PCs{% endcomment %}
      <div class="row pt-5">
        <div class="col-12 px-4">
          <table class="table table-striped table-sm caption-top table-hover">
            <caption>NPCs selection (max 20)</caption>
            <thead>
              <tr>
                <th class="text-muted" scope="col" style="width:15%">Name</th>
                <th class="text-muted" scope="col" style="width:15%">Class</th>
                <th class="text-muted" scope="col" style="width:14%">Race</th>
                <th class="text-muted" scope="col" style="width:14%">Alignment</th>
                <th class="text-muted" scope="col" style="width:6%">Str</th>
                <th class="text-muted" scope="col" style="width:6%">Dex</th>
                <th class="text-muted" scope="col" style="width:6%">Con</th>
                <th class="text-muted" scope="col" style="width:6%">Int</th>
                <th class="text-muted" scope="col" style="width:6%">Wis</th>
                <th class="text-muted" scope="col" style="width:6%">Cha</th>
                <th class="text-muted" scope="col" style="width:6%">Edit</th>
              </tr>
            </thead>

            <tbody>
              {% for npc in npcs %}
                <tr>
                  <td>{{ npc.name }}</td>
                  <td>{{ npc.adnd_class }}</td>
                  <td>{{ npc.race }}</td>
                  <td>{{ npc.get_alignment_display }}</td>
                  {# prettier-ignore #}
                  <td>
                    {{ npc.str }}{% if npc.str_percentile %}/{{ npc.str_percentile }}
                    {% endif %}
                  </td>
                  <td>{{ npc.dex }}</td>
                  <td>{{ npc.con }}</td>
                  <td>{{ npc.int }}</td>
                  <td>{{ npc.wis }}</td>
                  <td>{{ npc.cha }}</td>
                  <td>
                    <a href="{% url 'party_remove_npc' npc.id %}"><small>Remove</small></a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

          <table class="table table-striped table-sm caption-top table-hover">
            <caption>PCs selection (max 10)</caption>
            <thead>
              <tr>
                <th class="text-muted" scope="col" style="width:15%">Name</th>
                <th class="text-muted" scope="col" style="width:15%">Class</th>
                <th class="text-muted" scope="col" style="width:14%">Race</th>
                <th class="text-muted" scope="col" style="width:14%">Alignment</th>
                <th class="text-muted" scope="col" style="width:6%">Str</th>
                <th class="text-muted" scope="col" style="width:6%">Dex</th>
                <th class="text-muted" scope="col" style="width:6%">Con</th>
                <th class="text-muted" scope="col" style="width:6%">Int</th>
                <th class="text-muted" scope="col" style="width:6%">Wis</th>
                <th class="text-muted" scope="col" style="width:6%">Cha</th>
                <th class="text-muted" scope="col" style="width:6%">Edit</th>
              </tr>
            </thead>

            <tbody>
              {% for pc in pcs %}
                <tr>
                  <td>{{ pc.name }}</td>
                  <td>{{ pc.adnd_class }}</td>
                  <td>{{ pc.race }}</td>
                  <td>{{ pc.alignment }}</td>
                  {# prettier-ignore #}
                  <td>
                    {{ pc.str }}{% if pc.str_percentile %}/{{ pc.str_percentile }}
                    {% endif %}
                  </td>
                  <td>{{ pc.dex }}</td>
                  <td>{{ pc.con }}</td>
                  <td>{{ pc.int }}</td>
                  <td>{{ pc.wis }}</td>
                  <td>{{ pc.cha }}</td>
                  <td>
                    <a href="{% url 'party_update_pc' pc.id %}"><small>Edit</small></a>
                    <a href="{% url 'party_delete_pc' pc.id %}"><small>Del</small></a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <a href="{% url 'party_create_pc' %}"><small>Add PC</small></a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
